{% extends 'tindev/base.html' %}
{% block content %}
<img src="TinDev.jpg" alt="TinDev Logo">
<h1>View Your Offers</h1>
<h3 style="margin-left:50px">Offer From: {{offer.post.title}}</h3>
<p style="margin-left:50px">Starting Salary: ${{offer.salary}}</p>
<p style="margin-left:50px">Offer Expires {{offer.due_date}}</p>

<form action="/offers/respond/{{offer.id}}" method="post">
    {% csrf_token %}
    <label style="margin-left: 50px" for="response">Accept {{offer.post.title}}? </label>
    <input type="checkbox" name="response">
    <input type="submit" value="Submit">
</form>
{% endblock %}
