{% extends 'tindev/base.html' %}
{% block content %}
<!-- <img src="TinDev.jpg" alt="TinDev Logo"> -->
<style>
    h1 {
        margin-top: 1%;
    }
    * {
        text-align: center;
    }
    p {
        margin-left: 0;
    }
</style>
<h1>View Your Offers</h1>
<h3 >Offer From: {{offer.post.title}}</h3>
<p >Starting Salary: ${{offer.salary}}</p>
<p >Offer Expires {{offer.due_date}}</p>

{% if now <= offer.due_date %}
<form action="/offers/respond/{{offer.id}}" method="post">
    {% csrf_token %}
    <label for="response">Accept {{offer.post.title}}? </label>
    <input type="checkbox" name="response">
    <input style="margin-left: 1%" class="btn btn-secondary" type="submit" value="Submit">
</form>
{% endif %}
{% endblock %}
