<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>offer view page</h1>
    <h3>offer from: {{offer.post.title}}</h3>
    <p>expires {{offer.due_date}}</p>
    <p>salary: ${{offer.salary}}</p>
    <form action="/offers/respond/{{offer.id}}" method="post">
        {% csrf_token %}
        <label for="response">Accept?</label>
        <input type="checkbox" name="response">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
