{% extends 'tindev/base.html' %}

{% block content %}
<title> TinDev - Postings </title>
<!-- <img src="TinDev.jpg" alt="TinDev Logo"> -->
<h1> Job Postings </h1>
<p> The following are <strong>job postings </strong> made by a recruiter. </p>
<h3 style="margin-left: 50px">Filter Posts</h3>
<form action="/posts/" method="post">
    {% csrf_token %}
    <label style="margin-left: 75px" for="active_filter">Currently active?:</label>
    <select name="active_filter">
        <option value="none">Both</option>
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
    </select>
    <p> </p>

    <label style="margin-left: 75px" for="location_filter">Location:</label>
    <input type="text" name="location_filter">
    <p> </p>

    <label style="margin-left: 75px" for="keyword_filter">Keywords:</label>
    <input type="text" name="keyword_filter">

    <input type="submit" value="Filter">
</form>

<ul>
    {% for post in posts %}
    <li style="margin-left: 75px" ><a href="/posts/{{post.id}}">{{post.title}}</a></li>
    {% endfor %}
</ul>
{% endblock %}
