{% extends 'tindev/base.html' %}
{% block content %}
<style>
    li{
        margin-left:30px;
    }
</style>
<img src="TinDev.jpg" alt="TinDev Logo">
<h1> Job Details </h1>
<ul>
    <li><strong>Position Title:</strong> {{post.title}}</li>
    <li><strong>Full Time or Part Time? </strong>{{post.type}}</li>
    <li><strong>City: </strong>{{post.city}}</li>
    <li><strong>State: </strong>{{post.state}}</li>
    <li><strong>List of Preferred Skills:</strong> {{post.skills}}</li>
    <li><strong> Job Description:</strong>  {{post.description}}</li>
    <li><strong> Job Expiration Date: </strong> {{post.expiration}}</li>
    <li><strong> Status (Active / Inactive): </strong> {{post.status}}</li>
</ul>

{% if request.user.is_staff %}
<h1>Interested Candidates</h1>
<form action="/offers/create/{{post.id}}" method="post">
    {% csrf_token %}
    <ul>
        {% for c in candidates %}
        <li>
            <label for="">{{c.name}}</label>
            <input type="checkbox" name="offer_list" value="{{c.id}}">
        </li>
        {% endfor %}
    </ul>
    <div>
        <label style="margin-left: 50px" for="salary">Starting Salary (USD): </label>
        <input type="number" name="salary" required>
    </div>
    <p> </p>
    <div>
        <label style="margin-left: 50px" for="due_date">Reply to Offer By:</label>
        <input type="date" name="due_date" required>
    </div>
    <p> </p>
    <input style="margin-left: 30px" type="submit" value="Send Offer">
</form>
<h1>List of Offers Sent</h1>
<ul>
    {% for o in offers %}
    <li style="margin-left: 50px">{{o.candidate.name}} | {{o.due_date}}</li>
    {% endfor %}
</ul>
<h1>Update Post</h1>
<a style="margin-left: 50px" href="/posts/update/{{post.id}}">Update</a>
{% else %}
<form action="/posts/interest/{{post.id}}" method="post">
    {% csrf_token %}
    <label style="margin-left: 50px" for="interest"> Submit application? </label>
    <input name="interest" type="checkbox">
    <input type="submit">
</form>
{% endif %}
{% endblock %}
