{% extends 'tindev/base.html' %}
{% block content %}
<style>
h3, h1, p, h2 {
    text-align: center;
}

.list-group > li {
    text-align: center;
    width: 20%;
    margin: auto;
    list-style-type: none;
}

h1 {
    margin-top: 2%;
}

.form-group {
    width: 20%;
    margin: auto;
}

.cont {
    text-align: center;
}

.conta {
    text-align: center;
    margin-top: 2%;
}

.cand {
    list-style: none;
    text-align: center;
}

</style>
<!-- <img src="TinDev.jpg" alt="TinDev Logo"> -->
<h1> Job Details </h1>
<ul class="list-group">
    <li class="list-group-item"><strong>Position Title:</strong> {{post.title}}</li>
    <li class="list-group-item"><strong>Full Time or Part Time? </strong>{{post.type}}</li>
    <li class="list-group-item"><strong>City: </strong>{{post.city}}</li>
    <li class="list-group-item"><strong>State: </strong>{{post.state}}</li>
    <li class="list-group-item"><strong>List of Preferred Skills:</strong> {{post.skills}}</li>
    <li class="list-group-item"><strong> Job Description:</strong>  {{post.description}}</li>
    <li class="list-group-item"><strong> Job Expiration Date: </strong> {{post.expiration}}</li>
    <li class="list-group-item"><strong> Status (Active / Inactive): </strong> {{post.status}}</li>
</ul>

{% if request.user.is_staff %}
<h1>Interested Candidates</h1>
<form action="/offers/create/{{post.id}}" method="post">
    {% csrf_token %}
    <ul style="padding-left: 0;">
        {% for c in candScores %}
        <li>
            <label for="">{{ c.0.name }} space {{c.1}}% match</label>
            <input type="checkbox" name="offer_list" value="{{c.0.id}}">
        </li>
        {% endfor %}
    </ul>
    <div class="form-group">
        <label for="salary">Starting Salary (USD): </label>
        <input class="form-control" type="number" name="salary" required>
    </div>
    <p> </p>
    <div class="form-group">
        <label for="due_date">Reply to Offer By:</label>
        <input class="form-control" type="date" name="due_date" required>
    </div>
    <p> </p>
    <input style="display: block; margin: auto;" class="btn btn-secondary" type="submit" value="Send Offer">
</form>
<h1>List of Offers Sent</h1>
<ul class="list-group">
    {% for o in offers %}
    <li style="margin-left: 50px">{{o.candidate.name}} | {{o.due_date}}
        {% if now > o.due_date %}
        (expired)
        {% endif %}
        {% if o.accepted == True %}
        (accepted)
        {% elif o.accepted == False %}
        (rejected)
        {% endif %}
    </li>
    {% endfor %}
</ul>
<h1>Update Post</h1>
<div class="cont">
    <a href="/posts/update/{{post.id}}">Update</a>
</div>
{% else %}
<form action="/posts/interest/{{post.id}}" method="post">
    {% csrf_token %}
    <div class="conta">
        <label for="interest"> Submit application? </label>
        <input name="interest" type="checkbox">
        <input class="btn btn-secondary" type="submit">
    </div>
</form>
{% endif %}
{% endblock %}
