<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> TinDev - Home Page </title>
</head>

<style>
    body{
        background-color: #FECFF1;
    }
    h1{
        color: black;
        margin-left: 30px;
    }
    p{
        color: darkslategray;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        margin-left: 30px;
    }


</style>
<body>
    <!-- <img src="TinDev.jpg" alt="TinDev Logo"> -->
    <h1>Welcome to TinDev!</h1>
    <p> </p>
    <h2 style="margin-left: 30px"> Who are We? </h2>
    <p> 
        We are a startup company ran by four Notre Dame Computer Science students chartered to create applications for the benefit of recruiters all around the country. The product we envision is called <strong> TinDev</strong>.
    </p>
    <p>
        At its core, <strong> TinDev </strong> is meant to disrupt and innovate the recruiting process. It aims to facilitate the process of finding the perfect match for a technical position, whether it is a Software Engineering, Quality Engineering, or Full Stack Developer, etc... 
    </p>
    <p> 
        A successful implementation of TinDev should make it easy for any job-seeking candidate to register and be able to see open positions and demonstrate interest. Recruiters can also see qualified candidates within the area.
    </p>
    <p> 
        We want a product whose emphasis is on ease of use and straightforward navigation. Our <strong>free</strong>  application is open to both candidates and recruiters. 
    </p>
   
    
    <div>
        {% if not request.user.is_authenticated %}
        <a style="margin-left: 30px" href="/register"> Register</a>
        
        <p></p>
        <p> Already registered? Login below. </p>
        <p></p>
        <a style="margin-left: 30px" href="/login"> Login</a>
        {% else %}
        <a style="margin-left: 30px" href="/logout">Logout</a>
        {% endif %}
    </div>
</body>
</html>
