<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> TinDev - Login </title>
</head>

{% extends 'tindev/base.html' %}
{% block content %}
    <img src="TinDev.jpg" alt="TinDev Logo">
    <h1> Login </h1>
    <form action="/login" method="POST">
        {% csrf_token %}
        <div>
            <label style="margin-left: 50px" for="username">Username: </label>
            <input type="text" name="username">
        </div>
        <p> </p>
        <div>
            <label style="margin-left: 50px" for="password">Password: </label>
            <input type="password" name="password">
        </div>
        <p> </p>
        <div style="margin-left: 30px">
            <input type="submit">
        </div>
    </form>
{% endblock %}
