{% extends 'tindev/base.html' %}

{% block content %}
<img src="TinDev.jpg" alt="TinDev Logo">
<h1>Welcome Recruiter!</h1>
<p>
    Here you can create job postings as well as review potential candidates.
</p>
<a style="margin-left: 30px" href="/posts/create">Create Job Posting</a>

<h2 style="margin-left: 30px">Filter Posts</h2>
<form action="/recruiter_dashboard" method="post">
    {% csrf_token %}
    <label style="margin-left: 50px" for="active_filter">Active?:</label>
    <select name="active_filter">
        <option value="none">Both</option>
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
    </select>
    <p> </p>

    <label style="margin-left: 50px" for="interested_filter">At least 1 candidate interested?:</label>
    <select name="interested_filter">
        <option value="false">False</option>
        <option value="true">True</option>
    </select>
    <p></p>

    <input style="margin-left: 30px" type="submit" value="Filter">
</form>

<ul>
    {% for post in posts %}
    <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
    {% endfor %}
</ul>
{% endblock %}
