{% extends 'tindev/base.html' %}

{% block content %}
<h1>recruiter dashboard</h1>
<a href="/posts/create">Create Post</a>

<h1>sort posts</h1>
<form action="/recruiter_dashboard" method="post">
    {% csrf_token %}
    <label for="active_filter">Active:</label>
    <select name="active_filter">
        <option value="none">None</option>
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
    </select>

    <label for="interested_filter">At least 1 interested:</label>
    <select name="interested_filter">
        <option value="false">False</option>
        <option value="true">True</option>
    </select>

    <input type="submit" value="Filter">
</form>

<ul>
    {% for post in posts %}
    <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
    {% endfor %}
</ul>
{% endblock %}
