<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        form > div {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>register page</h1>

    <h3>Create Candidate</h3>
    <form action="/register" method="POST">
        {% csrf_token %}
        <div>
            <label for="username">Username: </label>
            <input type="text" name="username">
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password">
        </div>
        <div>
            <label for="name">Name: </label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="bio">Bio: </label>
            <textarea name="bio" cols="30" rows="5"></textarea>
        </div>
        <div>
            <label for="zip">Zip: </label>
            <input type="text" name="zip">
        </div>
        <div>
            <label for="skills">Skills: </label>
            <input type="text" name="skills">
        </div>
        <div>
            <label for="github">Github: </label>
            <input type="text" name="github">
        </div>
        <div>
            <label for="years_exp">Years of experience: </label>
            <input type="number" name="years_exp">
        </div>
        <div>
            <label for="education">Education: </label>
            <input type="text" name="education">
        </div>

        <input type="hidden" name="is_recruiter" value="0">

        <div>
            <input type="submit">
        </div>
    </form>

    <h3>Create Recruiter</h3>
    <form action="/register" method="POST">
        {% csrf_token %}
        <div>
            <label for="username">Username: </label>
            <input type="text" name="username">
        </div>

        <div>
            <label for="password">Password: </label>
            <input type="password" name="password">
        </div>

        <div>
            <label for="company">Company: </label>
            <input type="text" name="company">
        </div>

        <div>
            <label for="zip">Zip: </label>
            <input type="text" name="zip">
        </div>

        <input type="hidden" name="is_recruiter" value="1">

        <input type="submit">
    </form>


    <h3>Create Recruiter Test</h3>
    <form action="/register" method="POST">
        {% csrf_token %}
        {{ user_form }}
        {{ recruiter_form }}
    </form>
</body>
</html>
