{% extends 'tindev/base.html' %}
{% block content %}
<!-- <img src="TinDev.jpg" alt="TinDev Logo"> -->


<style>

.form-group {
    width: 20%;
}

* {
    margin: auto
}

h3, h1, p {
    text-align: center;
}

.btn-primary {
    margin: auto;
    display: block;
}

</style>
<title> TinDev - Register </title>
<h1> Welcome to the Registration Page.</h1>
<p> Here, you can register for our platform as a <strong>candidate</strong> or as a <strong> recruiter. </strong> </p>
<h3>Create Candidate</h3>
<form class="form-vertical" action="/register" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username">
    </div>
    <p> </p>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password">
    </div>
    <p> </p>
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name">
    </div>
    <p> </p>
    <div class="form-group">
        <label for="bio">Bio (Max 500 char.)</label>
        <textarea class="form-control" name="bio" cols="30" rows="5"></textarea>
    </div>
    <p> </p>
    <div class="form-group">
        <label for="zip">Zip Code</label>
        <input class="form-control" type="text" name="zip">
    </div>
    <p> </p>
    <div class="form-group">
        <label for="skills">Skills</label>
        <input class="form-control" type="text" name="skills">
    </div>
    <p> </p>
    <div class="form-group">
        <label for="github">GitHub</label>
        <input class="form-control" type="text" name="github">
    </div>
    <p> </p>
    <div class="form-group">
        <label for="years_exp">Years of Experience</label>
        <input class="form-control" type="number" name="years_exp">
    </div>
    <p> </p>
    <div class="form-group">
        <label for="education">Education</label>
        <input class="form-control" type="text" name="education">
    </div>
    <p> </p>

    <input type="hidden" name="is_recruiter" value="0">

    <div class="form-group">
        <input class="btn btn-primary" type="submit">
    </div>
</form>

<h3 >Create Recruiter</h3>
<form action="/register" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Username: </label>
        <input class="form-control" type="text" name="username">
    </div>
    <p></p>

    <div class="form-group">
        <label for="password">Password: </label>
        <input class="form-control" type="password" name="password">
    </div>
    <p></p>
    <div class="form-group">
        <label for="company">Company: </label>
        <input class="form-control" type="text" name="company">
    </div>
    <p></p>
    <div class="form-group">
        <label for="zip">Zip Code: </label>
        <input class="form-control" type="text" name="zip">
    </div>
    <p></p>
    <input type="hidden" name="is_recruiter" value="1">

    <div class="form-group">
        <input class="btn btn-primary" type="submit">
    </div>
</form>


<!-- <h3>Create Recruiter Test</h3>
<form action="/register" method="POST">
    {% csrf_token %}
    {{ user_form }}
    {{ recruiter_form }}
</form> -->
{% endblock %}
