<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>candidate dashboard</h1>
    <a href="/posts">View all posts</a>
    <h2>interested posts</h2>
    <ul>
        {% for post in posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>

    <h2>offers</h2>
    <ul>
        {% for offer in offers %}
        <li><a href="/offers/{{offer.post.id}}">{{offer.post.title}}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
